body{
  margin:40px auto;
  max-width: 240px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1, h2, h3 {
 line-height: 1.2;
}

input {
  line-height: inherit;
  font-size: inherit;
  margin: auto 0;
}

input[type="text"] {
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
}

.input-item-name {
  flex: 1;
  margin: 0 5px;
  height: 95%;
  width: 95%;
}
.fake-input-item-name {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 5px;
}

i[class^=icon-] {
  cursor: pointer;
  margin: auto 1px;
}

.icon-edit {
  color: lightseagreen;
}

.icon-remove {
  color: darkred;
}